/*
 * My Own Custom Properites
 */

html {
    height: 100%;
}

body {
    position: relative;
    max-width: 100%;
    color: black;
    font-family: tahoma;
}

.pointer {
    cursor: pointer;
}

.delete-btn {
    color: white;
    background-color: red;
}

.hidden {
    display: none;
}

canvas {
    border: 1px solid black;
}



/* Navbar */

.bg-light {
    background-color: #ff7824 !important;
}

.navbar {
    overflow: hidden;
}

.navbar-brand {
    color: white !important;
    display: inline;
    margin-left: 100px;
}

.nav-link {
    color: white !important;
}

.nav-login-section {
    margin-top: 4px !important;
}

.nav-item-list {
    margin-bottom: 1px !important;
}

.nav-link:hover {
    color: black !important;
    background-color: white;
    border-radius: 5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-right: 15px;
    margin-right: 5px;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: black !important;
    background-color: white;
    border-radius: 5px;
}

.nav-search-btn {
    color: rgb(0, 0, 0);
    background: white;
}

.nav-register {
    margin-right: 100px;
}

.search-navbar-btn {
    background-color: #FDD922;
    border: 1px solid #FDD922;
    transition: .4s;
}

.search-navbar-btn:hover {
    background-color: thistle;
    border: 1px solid thistle;
    color: white;
}


.btn-cart-nav {
    background-color: #ffdd00;
    margin-top: 5px !important;
    margin-right: 10px;
}

.btn-cart-nav:hover {
    background: inherit !important;
    border-radius: 50% !important;
}

.profile-image {
    border-color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: auto;
}

/* .btn-cart-nav:hover {
    color: black !important;
    background-color: red;
    border-radius: 5px;
} */

@media (max-width: 1400px) {
    .navbar-brand {
        margin-left: 0px;
    }

    .nav-register {
        margin-right: 0px;
    }
}

/* End of Navbar */

/* Carousel Slider */

.carousel-image {
    width: 100%;
    /* height: 600px; */
    height: 840px;
}

.carousel-angle-left {
    color: black;
}

.carousel-angle-right {
    color: black;
}

.carousel-caption h2 {
    color: black;
    display: grid;
    place-items: center;
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;

    /* -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; */
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    background-color: hsl(194, 98%, 44%);
}

.carousel-btn {
    background-color: #ff7824;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 300px;
}

/* Carousel Slider */

/* Product Sidebar */

.page-product-sidebar {
    position: sticky;
    /* top: 0px; */
    top: 80px;

    z-index: 15;
    height: 835px;
    width: 200px;
    background-color: white;
    border-right: 1px solid black;
    padding-top: 20px;
}

.sidebar-menu-title {
    color: black;
    font-weight: lighter;
}

.product-sidebar .parent-img {
    width: 50px;
    min-height: 45px;
    max-height: 45px;
    margin-left: 10px;
    margin-right: 15px;
}

.product-sidebar .child-img {
    width: 45px;
    margin-right: 5px;
}

.product-sidebar .child-title {
    color: black;
}

.product-sidebar .child-rows {
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    background: rgb(54, 118, 255) !important;
}

.product-sidebar .child-rows a.list-group-item {
    border-left: 0px !important;
}

/* Product Sidebar */

/* Product Cards */

.product-card {
    width: 250px;
    max-width: 300px;
    max-height: auto;
}

.product-card-title {
    color: black;
}

.product-card-btn {
    color: white;
    border-radius: 50px;
    background: rgb(54, 118, 255) !important;
    padding: 10px 30px;
}

.product-card-btn:hover {
    color: black;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0) !important;
    padding: 10px 30px;
}

.product-wrapper {
    margin-top: 40px;
}

.feature-img {
    max-height: 200px;
}

.product-item {
    background: lightblue;
}

/* Product Cards */



/* Footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2000px;
    padding-top: 20px;
    padding-bottom: 17px;
    background: #262626;
    color: #fff;
}
