/*
 * My Own Custom Properites
 */

html {
    height: 100%;
}

body {
    position: relative;
    max-width: 100%;
    color: black;
    font-family: tahoma;
}

.pointer {
    cursor: pointer;
}

.delete-btn {
    color: white;
    background-color: red;
}

.hidden {
    display: none;
}

canvas {
    border: 1px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
}

/* Navbar */

.bg-light {
    background-color: rgb(1, 212, 212) !important;
    /* background-color: #200589 !important; */
    /* background-color: #ff0062 !important; */
}

.navbar {
    overflow: hidden;
}

.navbar-brand {
    color: white !important;
    display: inline;
    margin-left: 100px;
}

.nav-link {
    color: white !important;
    transition: 0.5s;
}

.nav-login-section {
    margin-top: 4px !important;
}

.nav-item-list {
    margin-bottom: 1px !important;
}

.nav-list-link:hover {
    color: white !important;
    border-bottom: 2px solid #ff5898;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-right: 15px;
    margin-right: 5px;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: white !important;
    border-bottom: 2px solid #037bfc;
    /* background-color: white;
    border-radius: 5px; */
}

.nav-search-btn {
    color: rgb(0, 0, 0);
    background: white;
}

.nav-register {
    margin-right: 100px;
}

.search-navbar-btn {
    background-color: #FDD922;
    border: 1px solid #FDD922;
    transition: .4s;
}

.search-navbar-btn:hover {
    background-color: thistle;
    border: 1px solid thistle;
    color: white;
}

.btn-cart-nav {
    background-color: #ffdd00;
    margin-top: 5px !important;
    margin-right: 10px;
    transition: 0.4s;
}

.nav-search-bar-btn {
    padding: 0 0 0 12px;
    width: 100%;
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
    border: #fff;
    position: relative;
    top: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-cart-nav:hover {
    background: tomato !important;
    border-top: tomato;
    border-bottom: tomato;
    border-left: #ffdd00;
    border-right: #ffdd00;
}

.profile-image {
    border-color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: auto;
}

/* .btn-cart-nav:hover {
    color: black !important;
    background-color: red;
    border-radius: 5px;
} */

@media (max-width: 1400px) {
    .navbar-brand {
        margin-left: 0px;
    }

    .nav-register {
        margin-right: 0px;
    }
}

/* End of Navbar */

/* Carousel Slider */

.carousel-image {
    width: 100%;
    /* height: 600px; */
    height: 840px;
}

.carousel-angle-left {
    color: black;
}

.carousel-angle-right {
    color: black;
}

.carousel-caption h2 {
    color: black;
    display: grid;
    place-items: center;
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;

    /* -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; */
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    background-color: hsl(194, 98%, 44%);
}

.carousel-btn {
    background-color: #ff7824;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 300px;
}

/* 
@media (max-width: 1400px) {
    .product-sidebar {
        display: none !important;
    }
} */

/* Carousel Slider */

/* Product Sidebar */

.page-product-sidebar {
    position: sticky;
    /* top: 0px; */
    top: 80px;

    z-index: 15;
    height: 835px;
    width: 250px;
    max-width: 350px;
    border-right: 1px solid black;
    padding-top: 20px;
}

.sidebar-border-left {
    border-left: 1px solid grey;
}

/* i#change-product-sidebar-arrows {
    color: black;
    float: right;
    margin-right: 10px;
    font-weight: 700;
    width: 6px;
    height: 6px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    transform: rotate(-45deg);
    margin-top: 2px;
}

svg#change-product-sidebar-arrows {
    color: black;
} */

#product-sidebar-arrows #change-product-sidebar-arrows {
    color: black;
}

.product-sidebar .parent-img {
    width: 40px;
    min-height: 45px;
    max-height: 45px;
    margin-left: 10px;
    margin-right: 15px;
}

nav ul li p {
    color: rgb(43, 43, 43);
    font-size: 17px;
    transition: transform 0.4sec;
}

.product-sidebar .child-title {
    color: black;
}

.sidebar-product-parent-card {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    display: block;
    width: 100%;
    border-left: 2px solid transparent;
}

.sidebar-product-parent-card:hover {
    padding-right: 80px;
    color: cyan;
    border-left-color: cyan;
}

.sidebar-product-child-card {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding-left: 0px;
    margin-left: 35px;
    display: block;
    width: 100%;
    border-left: 2px solid transparent;
}

.sidebar-product-child-card:hover {
    padding-right: 80px;
    border-left-color: rgb(21, 224, 224);
}

nav ul li p {
    color: rgb(43, 43, 43);
    font-size: 17px;
}

nav ul li p span {
    position: absolute;
    margin-top: 20px;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li p span.rotate {
    color: black;
    transform: translateY(-50%) rotate(-180deg);
}

.product-sidebar .child-img {
    width: 45px;
    margin-left: 30px;
}



/* .product-sidebar .child-rows {
    margin-left: 30px;
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    background: rgb(54, 118, 255) !important;
}

.product-sidebar .child-rows a.list-group-item {
    border-left: 0px !important;
} */

/* Product Sidebar */

/* Product Cards */

.product-card {
    width: 250px;
    max-width: 300px;
    max-height: auto;
    margin-right: 40px;
    margin-top: 20px;
}

.product-card-title {
    color: black;
}

.product-card-btn {
    color: white;
    border-radius: 50px;
    background: rgb(54, 118, 255) !important;
    padding: 10px 30px;
}

.product-card-btn:hover {
    color: black;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0) !important;
    padding: 10px 30px;
}

.product-wrapper {
    margin-top: 40px;
}

.feature-img {
    max-height: 200px;
}

.product-item {
    background: lightblue;
}

@media(max-width: 1860px) {
    .product-card {
        margin-left: 45px;
    }
}

@media(max-width: 1700px) {
    .product-card {
        margin-left: 90px;
    }
}

@media(max-width: 1486px) {
    .product-card {
        margin-left: 150px;
    }

    .product-card-title {
        color: transparent;
    }
}

/* Product Cards */



/* Footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 17px;
    background: #262626;
    color: #fff;
}
