/*
 * My Own Custom Properites
 */

html {
    height: 100%;
}

body {
    position: relative;
    max-width: 100%;
    color: #000;
    font-family: tahoma;
}

.pointer {
    cursor: pointer;
}

.delete-btn {
    color: white;
    background-color: red;
}

.hidden {
    display: none;
}

canvas {
    border: 1px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
}

/* Navbar */
.nav-bg {
    background-color: rgb(62, 245, 93);
}

.navbar {
    overflow: hidden;

    .navbar-brand {
        color: white !important;
        display: inline;
        margin-left: 50px;
    }

    .nav-link {
        color: black !important;
        transition: 0.5s;
    }

    .nav-login-section {
        margin-top: 4px !important;
    }

    .nav-item-list {
        margin-bottom: 1px !important;
    }

    .nav-list-link:hover {
        color: white !important;
        border-bottom: 2px solid #ff5898;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #fff;
        padding-right: 15px;
        margin-right: 5px;
    }

    .navbar-dark .navbar-nav .show>.nav-link,
    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .nav-link.active {
        color: white !important;
        border-bottom: 2px solid #037bfc;
        /* background-color: white;
    border-radius: 5px; */
    }

    .nav-search-btn {
        color: rgb(0, 0, 0);
        background: white;
    }

    .nav-register {
        margin-right: 100px;
    }

    .search-navbar-btn {
        background-color: rgb(36, 221, 67);
        border: 1px solid rgb(62, 245, 93);
        transition: .4s;
    }

    .search-navbar-btn:hover {
        background-color: thistle;
        border: 1px solid thistle;
        color: white;
    }

    .btn-cart-nav {
        background-color: #ffdd00;
        margin-top: 5px !important;
        margin-right: 10px;
        transition: 0.4s;
    }

    .nav-search-bar-btn {
        padding: 0 0 0 12px;
        width: 100%;
        height: 40px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 14px;
        border-radius: 3px;
        border: #fff;
        position: relative;
        top: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-cart-nav:hover {
        background: tomato !important;
        border-top: tomato;
        border-bottom: tomato;
        border-left: #ffdd00;
        border-right: #ffdd00;
    }

    .profile-image {
        border-color: black;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        width: 40px;
        height: auto;
    }
}

/* End of Navbar */

// Sidebar

.sidebar {
    position: fixed;
    width: 230px;
    height: 100%;
    background-image: linear-gradient(180deg, #43e97a 0%, #38f9d6 100%);
    padding: 30px 0;

    color: rgb(245, 236, 236);
}

.sidebar .collapse {
    position: absolute;
    width: 230px;
    height: 100%;
}

.sidebar-logo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sidebar ul li {
    padding: 0px;
}

.sibdebar ul li a {
    color: #fff;
    display: block;
}

.sidebar ul li a:hover {
    border-left: 2px solid #fff;
    background-color: #00ffb3ee;
}

.sidebar ul li:hover a {
    color: #fff;
}

/* Carousel Slider */

.carousel-image {
    width: 100%;
    height: 840px;
}

.carousel-angle-left {
    color: black;
}

.carousel-angle-right {
    color: black;
}

.carousel-caption h2 {
    color: black;
    display: grid;
    place-items: center;
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    background-color: hsl(194, 98%, 44%);
}

.carousel-btn {
    background-color: #ff7824;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 300px;
}

/* Carousel Slider */

/* Product Cards */
.product-card {
    max-width: 15%;
    min-width: 250px;
    width: 15%;
    margin: 0 5px;
}

.product-card-title {
    color: black;
}

.product-card-btn {
    color: white;
    border-radius: 50px;
    background: rgb(54, 118, 255) !important;
    padding: 10px 30px;
}

.product-card-btn:hover {
    color: black;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0) !important;
    padding: 10px 30px;
}

.product-wrapper {
    margin-top: 40px;
}

.feature-img {
    max-height: 200px;
}

.product-item {
    background: lightblue;
}

@media(max-width: 1920px) {
    .products-wrapper {
        margin-left: 300px;
    }
}

@media(max-width: 1950px) {
    .products-wrapper {
        margin-left: 300px;
    }
}

@media (max-width: 1400px) {
    .navbar-brand {
        margin-left: 0px;
    }

    .nav-register {
        margin-right: 0px;
    }
}

@media(max-width: 200px) {
    .product-card-title {
        color: white;
    }

    .products-wrapper {
        margin-left: 20px;
    }
}



/* Product Cards */



/* Footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 17px;
    background: #262626;
    color: #fff;
}
