/*
 * Custom Properites
 */

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.pointer {
    cursor: pointer;
}

.delete-btn {
    color: white;
    background-color: red;
}

.hidden {
    display: none;
}

canvas {
    border: 1px solid black;
}

/* Navbar */
.navbar {
    position: relative;
    display: block;
    background: rgb(54, 118, 255) !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.nav-search-btn {
    color: rgb(0, 0, 0);
    background: white;
}

.navbar-brand:hover {
    color: rgb(0, 255, 157) !important;
}

.nav-link:hover {
    color: rgb(0, 255, 157) !important;
}

.profile-image {
    border-color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: auto;
}

/* Navbar */


/* Product Sidebar */

/* .product-sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 15;
    top: 85px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0px;
} */

.product-sidebar .parent-img {
    width: 50px;
    min-height: 45px;
    max-height: 45px;
    margin-left: 10px;
    margin-right: 15px;
}

.product-sidebar .child-img {
    width: 45px;
    margin-right: 5px;
}

.product-sidebar .child-rows {
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    background: rgb(54, 118, 255) !important;
}

.product-sidebar .child-rows a.list-group-item {
    border-left: 0px !important;
}

/* Product Sidebar */

/* Product Cards */

.product-card {
    width: 250px;
    max-width: 300px;
    max-height: auto;
}

.product-card-title {
    color: black;
}

.product-card-btn {
    color: white;
    border-radius: 50px;
    background: rgb(54, 118, 255) !important;
    padding: 10px 30px;
}

.product-card-btn:hover {
    color: black;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0) !important;
    padding: 10px 30px;
}

.product-wrapper {
    margin-top: 40px;
}

.feature-img {
    max-height: 200px;
}

footer {
    background-color: rgb(54, 118, 255);
    color: white;
    padding-top: 20px;
    padding-bottom: 13px;
    position: relative;
    margin-bottom: 0px;
}

.product-item {
    background: lightblue;
}

/* Product Cards */

/* Footer */

/* footer {
    position: absolute;
    bottom: 0;
    padding: 40px;
    padding-bottom: 50px;
    width: 100%;
    height: 2.5rem;
} */


.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    background-color: hsl(194, 98%, 44%);
}

.carousel-caption h5 {
    color: black;
    font: bold;
    padding: 10px;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.carousel-control-prev-icon {
    color: black;
}

footer {
    margin-top: 50rem;
    padding: 40px;
    padding-bottom: 50px;
    width: 100%;
    height: 2.5rem;
}
